name: build
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    if: >
      contains(toJSON(github.event.commits.*.message), 'feat: ') ||
      contains(toJSON(github.event.commits.*.message), 'fix: ') ||
      contains(toJSON(github.event.commits.*.message), 'perf: ') ||
      contains(toJSON(github.event.commits.*.message), 'revert: ')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: prepare metadata
        id: meta
        run: |
          echo "REPO=$(echo "${{ github.event.repository.name }}" | tr '[:upper:]' '[:lower:]')" >>"${GITHUB_OUTPUT}"
          echo "VERSION=$(sed -n 's|ARG XRAY=||p' "Dockerfile")" >>"${GITHUB_OUTPUT}"
      - name: multi-platform support
        uses: docker/setup-qemu-action@v3
      - name: use Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64/v8,linux/arm/v7,linux/386,linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.meta.outputs.REPO }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.meta.outputs.REPO }}:${{ steps.meta.outputs.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.meta.outputs.REPO }}:${{ steps.meta.outputs.VERSION }}-${{ github.run_number }}
      - name: update description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.meta.outputs.REPO }}
          readme-filepath: "README.md"
      - name: build changelog
        id: changes
        uses: mikepenz/release-changelog-builder-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          mode: 'COMMIT'
          toTag: ${{ github.sha }}
          configurationJson: |
            {
              "tag_resolver": {
                "method": "sort"
              },
              "transformers": [
                {
                  "pattern": "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\\(.*\\))?: (.*)",
                  "target": "$3"
                }
              ]
            }
      - name: create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ github.event.repository.name }} ${{ steps.meta.outputs.VERSION }}-${{ github.run_number }}
          tag_name: ${{ github.run_number }}
          body: ${{ steps.changes.outputs.changelog }}
